<!DOCTYPE html>
<html>
  <head>
    <title>View Sample Tweets!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  </head>

  <body>
    <h1>
      This page displays the suggestion from your text!
    </h1>
    <div class="innerDisplayBlock">
      <p>
        <b> Original sentence: </b> {{ obj.ogSentence }} . 
        {% if obj.ogSentiment is gt(0) %}
        <div style="color:green">Original Sentiment :
        {{ obj.ogSentiment }}</div>
        {% else %}
        <div style="color:red">Original Sentiment :
          {{ obj.ogSentiment }}</div>
        {% endif %}
      </p>
      <p>Alternative sentences</p>
      <ul>
        <!-- prettier-ignore -->
        {% for txt in obj.finalShiftSentences %}
        <!-- prettier-ignore -->
        {% if txt.sentiment is gt(0) %}
        <!-- prettier-ignore -->
        <li  style="color:green">Sentence: {{ txt.html|safe }} - Sentiment: {{ txt.sentiment|safe }}</li>
        <!-- prettier-ignore -->
        {% else %}
        <!-- prettier-ignore -->
        <li style="color:red">Sentence: {{ txt.html|safe }} - Sentiment: {{ txt.sentiment|safe }}</li>
        <!-- prettier-ignore -->
        {% endif %} {% endfor %}
      </ul>
      <br />
    </div>
    <h2>You can try another string, below!</h2>
    <div class="tryAgain">
      <form action="/user/" method="post">
        Input Text:
        <input type="text" name="userText" value="" />
      </form>
    </div>
  </body>
</html>
